* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AdminNavComponent {
    width: 100%;    
}

.AdminNavComponent-in {
    width: 100%;
    height: 12.5vh;
}

.AdminNavComponent-one {
    width: 100%;
    height: 50%;
}

.AdminNavComponent-one-in {
    width: 100%;
    background-color: rgb(221, 221, 221);
    padding: .6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AN-one {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AN-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.AN-two {
    width: 60%;
}

.AN-two-in {
    width: 100%;
    text-align: center;
}

.AN-two-in h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}


.AN-three {
    width: 10%;
}

.An-three-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.AN-three img {
    border-radius: 100%;
    width: 20%;
    height: 20%;
    object-fit: cover;
}


.AdminNavComponent-two {
    width: 100%;
    height: 50%;
}

.AdminNavComponent-two-in {
    width: 100%;
    height: 100%;
    padding: .6rem;
    background-color: rgb(151, 0, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AdminNavComponent-two-in p {
    color: white;
    font-size: .8rem;
}

.AdminNavComponent-two-in button {
    padding: .4rem 1rem;
    background-color: rgb(151, 0, 3);
    color: white;
    border: none;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

.AdminNavComponent-two-in button:hover {
    background-color: white;
    color: rgb(151, 0, 3);
    border-radius: 10px;
}